.timeline-card-container
  .timeline-card#timeline-show{data: {timeline_id: timeline.id}}
    .timeline-card-image
      .timeline-images
        - if timeline.images.attached?
          .slick
            - timeline.images.each do |image|
              = image_tag image, class: 'timeline-image'
    .timeline-buttons 
      - if user_signed_in?
        .timeline-heart.hidden.active-heart{id: timeline.id}
          = image_tag 'heart.svg', class: 'like-btn'
        .timeline-heart.hidden.inactive-heart{id: timeline.id}
          = image_tag 'inactive-heart.svg', class: 'like-btn'
      .timeline-comment
        = link_to timeline_comments_path(timeline.id) do
          = image_tag 'comment.svg', class: 'comment-btn'
      .timeline-share
        = link_to  "https://twitter.com/share?url=#{ request.url }", title: 'Twitter', target: '_blank' do
          = image_tag 'share.svg', class: 'share-btn'
    .timeline-content 
      %p.content-item= timeline.content
    .timeline-create-time
      %p.create-user= timeline.user.account
      %p.create-time= timeline.created_at.strftime('%Y/%m/%d %H:%M')