.timeline-container 
  .timeline-header
    .timeline-post-btn
    = link_to new_timeline_path do
      = image_tag 'camera.png', class: 'timeline-new'
  - @timelines.each do |timeline|
    .timeline-header-list
      .timeline-user 
        = link_to profile_path do
          = image_tag current_user.avatar_image, class: 'timelines-avatar'        
      %p.timelineUser-name= current_user.account
      %p.timelineTime= time_ago_in_words(timeline.created_at)
    .timeline-card 
      .timeline-images
        - if timeline.images.attached?
          - timeline.images.each do |image|
            = image_tag image
      .timeline-buttoms 
        
      


        
        
        
      
    