.container#account-show{data: {account_id: @user.id, following_id: current_user.id}}
  .profilePage
    = link_to root_path do
      = image_tag 'return.svg', class: 'return-btn'
    .profilePage_user_account
      %p= @user.account
    - if user_signed_in?
      .profilePage_follow_btn
        .follow-btn.hidden
          %p Follow
        .unfollow-btn.hidden
          %p Unfollow

    .profilePage_user_image 
      = image_tag @user.avatar_image, class: 'avatar-image', id: 'profilePageImage'

    .profilePage_user_have 
      .profilePage_user_have_item 
        %p.count= @user.timelines.count
        %p.title posts
      .profilePage_user_have_item 
        %p.count= @user.followers.count
        %p.title Followers 
      .profilePage_user_have_item 
        %p.count= @user.followings.count
        %p.title Folllowing
    
  - @user.timelines.each do |timeline|
    = render 'commons/timeline', timeline: timeline

= javascript_pack_tag 'profile'

= javascript_pack_tag 'followrelation'
-# = render 'commons/profile', user: @user